body {
    margin:0; 
    padding:0;
    font-family: Comic, cursive, sans-serif ;
    text-align:left;
}

fieldset{
    border: none;
}
#aj{
    color: black;
}
.header{
    width: 100%;
    height: 40px;
    display: block;
    max-width: 500px;
    margin: auto;
    
    
}
.signup{
    color: white;
    display: inline-block;
    padding: 25px;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 500px;
    margin: auto;
}

h1{
    text-align: center;
    letter-spacing: 2px;
    padding: 10px;
    font-size: 50px;
    font-family: Comic Sans MS, cursive, sans-serif ;

}
label,input{
    color: black;
    text-align: left;
}

button {
    margin-left: 50px;
    background-color:#E9EBEE;
    border: none;
    color: black;
    font-family: Comic, cursive, sans-serif ;
    text-align: center;
    padding: 5px;
    width: 120px;
    
}
